*~
*.conf
*.gcda
*.gcno
*.gir
*.la
*.lo
*.o
*.patch
*.policy
*.pc
*.service
*.typelib

.coverage/
.deps/
.libs/
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
gtk-doc.make
Makefile
Makefile.in
Makefile.in.in
missing
POTFILES
stamp-h1
stamp-it

data/*.service

doc/version.xml
doc/man/*.8

po/udisks-lvm.pot

src/com.redhat.lvm2.*
src/udisks-lvm
src/udisks-lvm-helper
src/udisksd-lvm

src/tests/test-*
!src/tests/test-*.[ch]
src/tests/frob-*
!src/tests/frob-*.[ch]

po/.intltool*


